:root {
  /**
  * @tokens Accent Primary colors
  * @presenter Color
  */
  --color-accent-primary-900: #0f3e51;
  --color-accent-primary-500: #108a00;
  --color-accent-primary-100: #bae0ce;
  --font-family: "Inter", arial, sans-serif;
  --font-family-narrow: "Inter", arial, sans-serif;
}
